<!DOCTYPE html>
<html>
    <head>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <div id="app">
            <div class="layer">
                <ul id="layers">
                    <li v-bind:key="index" v-for="layer,index in layers">
                        {{layer}} 
                        <select v-model="layer.data.style['font-family']">
                            <option>arial</option>
                            <option>ubuntu</option>
                            <option>helvetica</option>
                        </select>

                        <select v-model="layer.data.style['font-size']">
                            <option v-bind:value="(index+1)+'px'" v-for="fs,index in fontSize)">{{index+1}}px</option>
                        </select>
                        <input type="text" v-model="layer.data.value">
                        <button class="btn btn-danger btn-small " v-on:click="deleteLayer(index)">
                            <fa-trash v-bind:size="15"/>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-small w-100" v-on:click="addLayer()">
                            <fa-plus v-bind:size="15"/>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="canvas">
                
                <div v-bind:key="'element'+index" v-for="element,index in layers">
                    <component :is="element.typ" v-bind:elem="element.data"></component>
                </div>
            </div>
            <canvas id="layerCanvas" width="500" height="500" style="border:1px solid #000000;"></canvas>
        </div>
        
    </body>
</html>