*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}
html {
    body {
        font-size:15px; 
        #app{
            margin: auto;
            left: 0;
            right: 0;
            position: absolute;
            max-width: 700px;
            margin-top: 200px;
        }
        .canvas{
            background-image: url('../bg.png');
            height: 500px;
            width: 500px;
            float: left;
        }
        .layer{
            width: 200px;
            float: left;
            position: relative;
            #layers > li{
                padding:5px;
                background-color: efefef;
            }
        }
    }
}