*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}
html {
    body {
        font-size:15px; 
        .canvas{
            background-image: url('../bg.png');
            height: 500px;
            width: 500px;
            float: left;
        }
        .layer{
            width: 200px;
            float: left;
            position: relative;
        }
    }
}